{
    "server": "irc.freenode.net",
    "nick": "botnick",
    "channel": "#fightchannel",
    "port": 6697,
    "tls": true,
    "nickserv_username": "dong",
    "nickserv_password": "yourpasswd",
    "auxchans": [],
    "top_modifier_num_fights": 0.05
}
