{
    "server": "irc.freenode.net",
    "nick": "botnick",
    "channel": "#fightchannel",
    "auxchans": ["#auxchannel1", "#auxchannel2"],
    "nickserv-user": "botusername",
    "nickserv-pass": "botpassword"
}
